
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
 }

body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        max-width: 1000px;
        margin: 0 auto;
        background-color: black;
}

aside {
        flex: 1;
        flex-shrink: 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        background-color: #0077B5;

}

.img--box {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding: 1.25em;
}

img {
        width: 60%;
        height: 60%;
        border-radius: 50%;
}

.styles {
        display:flex;
        justify-content: center;
        align-items: center;
}

.edit {
        padding: 0.5em 0;
        background-color: #B0BEC5;
        color: #0077B5;
}

.contact {
        flex: 1;
        padding: 1.25em 1.25em;
        color: #B0BEC5;
}

.align--about {
        word-break: break-all;
        flex: 3;
        display: flex;
        padding: 1.25em 1.25em;
        color: #B0BEC5;
}

.component {
        font-size: 1.3em;
}

#list-inline > li {
        list-style: none;
        display: inline;
        padding: 1.25em 1.25em;
}

.icons {
        padding: 1.25em 1.25em;
}

i {
    text-shadow:2px 4px 6px #424242;
}

.fa {
    font-size: 3em;
}
.fa-swimmer, .fa-table-tennis, .fa-hiking {
    font-size: 3em;
    padding-top: 0.3em;

}

.fa-circle {
        font-size: 0.7em;
        color: #0077B5;
}
.fa-pen-fancy, .fa-briefcase, .fa-graduation-cap {
        color:  #0077B5;
}


main {
        flex: 2;
        flex-shrink: 1;
        display: flex;
        flex-flow: column wrap;
        padding: 1.25em;
        background-color: white;
}

header {
        flex: 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        flex-basis: 16em;
}

header > h3{
        font-size: 1.5em;
}

header > h2 {
        font-size: 2.5em;
}

header > hr {
            position: relative;
            top: -1%;
            border: none;
            height: 0.14em;
            background: #0077B5;
            width: 12.5%;
}

.front {
        color: #f6b29d;
        font-family:Helvetica, Helvetica, Arial, sans-serif;
        font-weight:100;
}

.education {
        position: relative;
        top: 1%;
        border: none;
        height: 0.16em;
        margin-bottom: 1.5em;
        background: #0077B5;
}

.styles--b{
        display: flex;
}

.box {
        display: flex;
        flex-flow: row wrap;
        padding: 1.25em 0;
}

.alignment {
        flex: 1;
        display: flex;
}

.title--right {
        flex: 2;
        display: flex;
        flex-flow: column wrap;
}

.title--position {
        font-size: 0.9em;
        margin-bottom: 0.7em;
        margin-top: 0.7em;
}

.title--company {
        font-weight: bold;
}

.arrengement--references {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1.25em 0;
}
