.container {
        border: 2px solid black;
        width: 1190px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
}

.main-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
}

.content {
        border: 2px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

.content-references {
        border: 2px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

.ed--dates  {
        border: 2px solid black;
        display: flex;
        flex-direction: row;
}

.ed--schools {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        flex: 1 3 500px;
}

.position {
        line-height: 20px;
}

.ref {
        border: 1px solid black;
        display: flex;
}

#a {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        width: 33.33%;
        background-color: yellow;
}

#b {
        width: 66.67%;
}

#list-inline > li {
        list-style: none;
        display: inline;
}
