

* {
    font-family: Helvetica;
}

body {
        display: flex;
        max-width: 1200px;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        /*position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);*/
        margin: 0px auto;
}

/*Section a*/
#a {
        display: flex;
        flex-flow: column wrap;
        width: 400px;
        background-color: #F5B99A;
}

.styles {
        color: #F5B99A;
}

#a > p {
        padding: 0 55px;
}

.contact {
        display: flex;
        padding: 0 20px;
}

.about {
        display: flex;
        padding: 0 20px;
}

.hobbie {
        display: flex;
        justify-content: center;
        align-content: center;
}

.box {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
}

.box img {
        border: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 105px;
        border-radius: 100px;
}

#a > h3 {
        background-color: #27B3A9;
        display: flex;
        justify-content: center;
}

#list-inline > li {
        list-style: none;
        display: inline;
}

/*Section b*/
#b {
        display: flex;
        flex-flow: column wrap;
        width: 800px;
        background-color: white;
}

header > h1  {
        margin-bottom: -20px;
}

span.a {
        display: inline-block;
        width: 400px;
        margin-left: 200px;
        margin-top: -35px;
}

span.b {
        display: block;
        text-indent: 1.2em;
}

#b > header, h3, .content, .content-references {
        padding: 0 60px;
}

.content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        margin-top: -30px;
}

.content-references {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: -45px;
}

.position {
        line-height: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF;
  }
}
