.container {
        border: 2px solid black;
        display: flex;
        flex-basis: 800px;
        flex-flow: row wrap;
}

#a {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 33.33%;
        background-color: #F5B99A;
}

.box {
        width:90%;
        min-height:35vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
}

.box img {
        display: flex;
        width: 50%;
        min-width:80px;
        max-width: 200px;
        border-radius: 100px;
        height: auto;
        margin: auto;
}

.styles {
        background-color: #27B3A9;
        display: flex;
        justify-content: center;
}

#b {
        display: flex;
        flex-direction: column;
        width: 66.67%;
}

.content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

.content-references {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
}

.ed--dates  {
        display: flex;
        flex-direction: row;
        flex: 1 3 40px;
}

.ed--schools {
        display: flex;
        flex-direction: column;
        flex: 2 3 50px;
}

.position {
        line-height: 20px;
}

.ref {
        display: flex;
}

#list-inline > li {
        list-style: none;
        display: inline;
}
